<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target name="validationErrors" xsi:type="File" fileName="Logs/ValidationErrorLogs.txt" />
    <target name="validationWarnings" xsi:type="File" fileName="Logs/ValidationWarningLogs.txt" />
  </targets>

  <rules>
    <logger name="*" minlevel="Error" writeTo="validationErrors" />
    <logger name="*" minlevel="Warn" writeTo="validationWarnings" />
  </rules>
</nlog>